body {
 font-family: Arial, sans-serif;
 background-color: #f4f4f4;
 margin: 0;
 padding: 0;
}
#root {
 max-width: 800px;
 margin: 0 auto;
 padding: 20px;
}
table {
 width: 100%;
 border-collapse: collapse;
}
th, td {
 padding: 10px;
 text-align: left;
 border: 1px solid #ddd;
}
.TransactionDetails{
  padding: 20px;
  margin-right: 10px;
}
.AddTransaction{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.AddForm{
  margin-bottom: 10px;
}
.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 100%; /* Ensures the search bar takes up the full width of its container */
    padding: 2px 23px 2px 30px; /* Adjust padding to control the internal space */
    outline: 0;
    background-color: #f5f5f5;
}

/* Enhance focus and hover states for better user interaction */
.search:hover,.search:focus {
    border: 1.5px solid #009688; /* Change border color on hover/focus */
    background-color: white; /* Change background color on hover/focus */
}
