body {
 font-family: Arial, sans-serif;
 background-color: #f4f4f4;
 margin: 0;
 padding: 0;
}
#root {
 max-width: 800px;
 margin: 0 auto;
 padding: 20px;
}
table {
 width: 100%;
 border-collapse: collapse;
}
th, td {
 padding: 10px;
 text-align: left;
 border: 1px solid #ddd;
}
.TransactionDetails{
  padding: 20px;
  margin-right: 10px;
}
.AddTransaction{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.AddForm{
  margin-bottom: 10px;
}
